.button {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border: none;
	cursor: pointer;

	overflow: hidden;

	position: relative;
}

.button__border {
	position: absolute;
	height: 100%;
	width: 100%;
}

.button__text {
	user-select: none;
}

.button__flair {
	position: absolute;
	top: 0;
	left: 0;
	aspect-ratio: 1/1;
	user-select: none;
	pointer-events: none;
}
